@media(min-width: 1024px) {

    .first-content-date-icons img{
        width: 30px;
    }
    .first-content-date {
        padding: 0px  50px;
    }
    .first-content-text h2{
        font-size: 35px;
    }
    
    .first-content-text h1{
        font-size: 150px;
    }

    .container-photos img {
        width: 70vw;
        border-radius: 10px;
    }

    .container-calender {
        width: 80px;
        height: 100px;
    }

    .calender-date {
        width: 70px;
        height: 50px;
    }

    .calender-date p {
        font-size: 16px;
        font-weight: 300;
    }

    .calender-day p {
        font-size: 25px;
        font-weight: 500;
    }

}