.container-palette:hover  .container-palette-item-red{
  margin-left: 120px;
  align-items: end;
  transition: 1s ;
}

.container-palette:hover  .container-palette-item {
    margin-right: 120px;
    width: 45%;
    transition: 1s;
}

.container-carrocel-header {
  display: flex;
}

.carrocel {
  display: flex;
  animation: 8s infinite slide linear;
}

@keyframes slide {
  from{
    transform: translateX(400px);
  }
  to{
    transform: translateX(-360px);
  }
}

@media(min-width: 768px) {
  .container-palette:hover  .container-palette-item-red {
    margin-right: 0px;
    width: 50%;
    transition: 1s;
}

@media(min-width: 1024px) {
  .container-palette:hover .container-palette-item {
    width: 500px;
  }

  .container-palette:hover .container-palette-item-red {
    margin-left: 250px;
    width: 500px;
  }
}

}