.container-palette:hover  .container-palette-item-red{
  margin-left: 120px;
  align-items: end;
  transition: 1s ;
}

.container-palette:hover  .container-palette-item {
    margin-right: 120px;
    width: 45%;
    transition: 1s;
}

.container-carrocel-header {
  display: flex;
}

.carrocel {
  display: flex;
  animation: 8s infinite slide linear;
}

.container-photos-item:hover img {
  transition: 0.5s;
  filter: brightness(0.5)
}

.first-content-date {
  animation: drag-right 1s ease-out 0s ;
}

.first-content-text {
  animation: drag-right 1.5s ease-out 0s;
}

.first-content-user {
  animation: drag-left 1.8s ease 0s;
}

@keyframes drag-right {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes drag-left {
  from {
    transform: translateX(800px);
  }
  to {
    transform: translateX(0px);
  }
}


@keyframes slide {
  from{
    transform: translateX(400px);
  }
  to{
    transform: translateX(-360px);
  }
}

@media(min-width: 768px) {
  .container-palette:hover  .container-palette-item-red {
    margin-right: 0px;
    width: 50%;
    transition: 1s;
}

@media(min-width: 1024px) {
  .container-palette:hover .container-palette-item {
    width: 500px;
  }

  .container-palette:hover .container-palette-item-red {
    margin-left: 250px;
    width: 500px;
  }
}

}